body {
  margin: 0;
  font-family: 'cinzel', serif;
}

.nav {
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.nav_logo {
  font-size: 24px;
  margin: auto 32px;
}

.nav_logo a {
  text-decoration: none;
  color: black;
}

.nav_menu div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.nav_menu li:hover {
  background-color: rgba(255, 255, 255, 0.5)
}

.nav_hamburger {
  width: 30px;
  height: 21px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 16px;
  right: 32px;
}

.nav_hamburger_line {
  height: 1px;
  width: 100%;
  background-color: black;
  border-radius: 1px;
  transition: all ease-in-out 0.2s;
}

#register_form, #login_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* media queries */

@media screen and (max-width: 5050px) {
  .nav_hamburger {
    display: flex;
    z-index: 2;
  }

  .nav_menu {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    top: -100vh;
    height: 100vh;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_menu {
    z-index: 1;
  }

  .nav_menu.active {
    top: 0;
  }

  .nav_hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(7px, 3px);
  }

  .nav_hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav_hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(7px, -3px);
  }
}

/* main section */

.logout_div {
  display: none;
}

p {
  font-family: 'Bodoni Moda', serif;
}

main {
  margin-top: 100px;
}

input, button, select, textarea {
  height: 32px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  border: none;
  width: 140px;
}

input {
  width: 136px;
}

button {
  background: #4285f4;
  color: #fff;
  transition: 0.2s;
  transition-delay: 0.2s; 
}

button:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

button:hover, select:hover, .nav_hamburger, .post {
  cursor: pointer;
}

/* Post List */

main {
  text-align: center;
}

.post_title h1 a, .post_title h3 a {
  color: black;
  text-decoration: none;
}

#post_list {
  text-align: center;
}

#post_list img, .detail_post_img {
  width: 90%;
  max-width: 450px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
}

#post_list > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

#post_list >div:first-child img, .detail_post_img {
  width: 100%;
  max-width: 900px
}

#post_list > div .post_title {
  width: 100%;
  max-width: 900px
}

#post_list>div:first-child .post_title {
  width: 80%;
  max-width: 750px
}

h3 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

#post_lost > div:first-child h1 {
  font-size: 36px;
  max-width: 900px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

#post_list span p {
  margin: 10px;
}

hr {
  width: 80%;
  border-color: black;
  margin-bottom: 40px;
  margin-top: 50px;
  padding: 0;
  max-width: 700px;
}

h2 {
  margin-bottom: 30px;
}

/* New Post */

#admin_buttons, #update_form {
  margin-bottom: 40px;
}

#new_post_div {
  margin: 60px 0;
}

#new_post_div, #new_post_form, #update_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

textarea {
  width: 60%;
  height: 200px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
  color: white;
  padding: 40px 0;
}

footer h3 {
  margin: 0;
}

footer span, footer p {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
}

.post_content {
  align-items: justify;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  margin-bottom: 100px;
}

.post_content .post_title, .post_content .post_author, .post_content .post_timestamp {
  text-align: center;
}

.post_content .post_title, .post_content .post_author {
  font-style: italic;
}